body { padding-top: 60px; }

.profilbild_image{
    border-radius: 20px;
    margin-bottom: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #00d600;
}

.artikel-metadata{
    margin-top: 20px;
}

.artikelbild{
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.bildunterschrift{
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
}


#innerCenter {  
  border: 1px solid black;
}

#outerCenter {
  border: 1px solid red;
  width:100%
  display: flex;
  justify-content: center;
}



.artikelLink:hover, .artikelLink:visited, .artikelLink:link, .artikelLink:active {
    text-decoration: none;
    color: crimson;
}

.artikelLink:hover{
    color: forestgreen;
}

.blogFeld{
    text-align: center;
}

.videoContainer{
  margin-bottom: 30px;
  position: relative; 
  padding-bottom: 56.25%; /* ratio 16x9 */
  height: 0; 
  overflow: hidden; 
  width: 100%;
  height: auto;
}

.videoContainer iframe{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}

.impressum{
    margin-top: 40px;
}

.impressumText{
    font-size: 30px;
}

.impressumName{
    font-size: 40px;
}

.linkToWelcome{
    text-align: center;
    margin-bottom: 20px;
}

.welcomeHTML,
.welcomeBody {
  height: 100%;
  background-color: #333;
}
.welcomeBody{
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.welcomeLink,
.welcomeLink:focus,
.welcomeLink:hover {
  color: #fff;
}

.btn-welcome,
.btn-welcome:hover,
.btn-welcome:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */
.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.welcomePic{
    border-color: darkblue;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
}

.headerWithSpacing{
    padding-top: 50px;
}

/* Carousel base class */
.carousel {
  height: 400px;
  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: darkslateblue;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

code{
    color: darkblue;
}